:root {
    --dark-gray: #2C313C;
    --light-blue: #2093FA;
    --white: #F4F9FF;
    --dark-blue-gray: #394862;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    justify-items: center;
    background-color: var(--dark-blue-gray);
    font-family: 'Cousine', monospace;
    color: var(--white);
}

#countdown {
    font-size: 7rem;
    display: none;
}

.mainHeading {
    display: flex;
    align-items: center;
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 12px);
    margin-top: 20px;
    gap: calc(100vh * 0.05);
}

.user-controls {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

.user-controls>.btn-control {
    font-size: 5rem;
    text-align: center;
    aspect-ratio: 1;
    width: max(10%, 200px);
    background-color: var(--light-blue);
    border: 3px solid var(--white);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px var(--white);
}

:is(.btn-control, .btn-reset):hover {
    filter: brightness(0.92);
    cursor: pointer;
}

:is(.btn-control, .btn-reset):focus-visible {
    outline-color: 2px solid var(--dark-gray);
    outline-offset: 5px;
}

:is(.btn-control, .btn-reset):active {
    scale: 0.96;
    translate: 2% 2%;
}

.container>div {
    font-size: 3rem;
}

.match-result {
    display: flex;
    width: max(30%, 400px);
    justify-content: space-between;
    vertical-align: middle;
}

.match-result div {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 4rem;
}

.match-result img {
    width: 4rem;
}

.btn-reset {
    padding: 16px;
    background-color: var(--light-blue);
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--white);
}

#winner {
    line-height: 2.3rem;
}

#winner.animate {
    animation: animate 0.5s linear forwards;
}

@keyframes animate {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 3rem;
    }
}